<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <ul>
      <%= for factor <- @y do %>
        <li><%= factor %></li>
      <% end %>
    </ul>
  </div>
</div>
